@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Outfit&family=Pacifico&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'Hanken Grotesk', sans-serif;
}

body {
	background-color: hsl(221, 100%, 96%);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.mainarea {
	border-radius: 2em;
	position: relative;
	background-color: hsl(0, 0%, 100%);
	width: 40rem;
	height: 30rem;
	text-align: center;
}

.summary {
	background-color: white;
	position: absolute;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	border-radius: 2rem;
	padding: 1.5rem 0 1.5rem 0;
	width: 20rem;
	height: 100%;
	right: 0;
	top: 0;
}

.summary p:first-child {
	width: 80%;
	text-align: start;
	margin: 0 auto;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.slash100 {
	opacity: .6;
}

.summary div {
	display: flex;
	font-weight: 700;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0 1rem 0 1rem;
	border-radius: .5rem;
	line-height: 3rem;
	width: 80%;
	margin: 0 auto 1rem auto;
}

.summary div span:nth-child(2) {
	color: black;
}

.summary div:nth-child(2) {
	background-color: hsla(0, 100%, 67%, .2);
	color: hsla(0, 100%, 67%, 1);
}

.summary div:nth-child(3) {
	background-color: hsla(39, 100%, 56%, .2);
	color: hsla(39, 100%, 56%, 1);
}

.summary div:nth-child(4) {
	background-color: hsla(166, 100%, 37%, .2);
	color: hsla(166, 100%, 37%, 1);
}

.summary div:nth-child(5) {
	background-color: hsla(234, 85%, 45%, .2);
	color: hsla(234, 85%, 45%, 1);
}

.summary p:last-child {
	background-color: hsl(224, 30%, 27%);
	margin: 0 auto;
	width: 15rem;
	color: white;
	margin-top: 2rem;
	line-height: 3rem;
	border-radius: 1.5rem;
}

.summary span img {
	transform: translateY(.2rem);
}

.circle {
	background-color: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 2rem;
	background-image: linear-gradient(to top
		,hsla(241, 72%, 46%, 0)
		,hsla(241, 72%, 46%, 1));
}

.circle p span {
	font-size: 3.5rem;
	font-weight: 800;
	color: white;
}

.result > p span {
	font-size: 2rem;
	font-weight: 700;
	color:white;
}

.result p:first-child {
	font-size: 1.5rem;
	font-weight: 700;
}

.result p:nth-child(4) {
	max-width: 14rem;
}

.result {
	padding-top: 2rem;
	gap: 2rem;
	border-radius: 2em;
	background-color: hsl(234, 85%, 45%);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 20rem;
	height: 30rem;
	color: hsl(241, 100%, 89%);
	background-image: linear-gradient(to bottom, 
		hsl(252, 100%, 67%), 
		hsl(241, 81%, 54%));
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 1rem;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
	.mainarea {
		width: 100vw;
		height: 60rem;
		flex-flow: column nowrap;
	}

	.result {
		width: 100%;
		height: 22rem;
		padding-top: 1rem;
		gap: .5rem;
		border-bottom-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.summary {
		width: 100vw;
		top: 22rem;
		bottom: 0;
		height: 100%;
	}

	.circle {
		width: 10rem;
		height: 10rem;
	}

	.result p:nth-child(4) {
		max-width: 16rem;
	}
}